<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @stat.name %>
</p>

<p>
  <b>User:</b>
  <%= @stat.user_id %>
</p>

<p>
  <b>Desc:</b>
  <%= @stat.desc %>
</p>


<%= link_to 'Edit', edit_stat_path(@stat) %> |
<%= link_to 'Back', stats_path %>
